.back-button {
  position: fixed;
  bottom: 0%;
}

.button_slide {
  color: #000;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #D80286;
}

.desc-container {
  width: "50%";
}

.project-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.map-photos {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 25%;
}

.apple-test {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 25%;
}

.wandering-inn {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 25%;
}

.akg-notation {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 25%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
