body {
  background-image: linear-gradient(#0f1625, #455d97);
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  text-align: center;
  min-height: 100vh;
}

html, body, #app, #app>div {
  height: 100%
}

a {
  color: inherit;
  text-decoration: none;
}

h1#name {
  text-align: left;
}

section > img {
  height: 200px;
  width: auto;
}

.section-container {
  display: flex;
  flex-direction: row;
}

#intro-container {
  text-align: left;
  margin: auto;
  justify-content: space-between;
}

#intro-container article {
  margin-left: 30px;
}

#intro-container a {
  text-decoration: underline;
}

#intro-container p {
  width: 80%;
}

#gallery {
  padding: 20px;
  flex-wrap: wrap;
  justify-content: start;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2%;
  width: 25%;
}

.project-container a {
  color: #000;
  border: 2px solid #6495ED;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #6495ED;
  transition: ease-out 0.4s;
  height: 50%;
  width: 70%;
  background: white;
  text-decoration: none;
}

.project-container a:hover {
  box-shadow: inset 0 0 0 50px #6495ED;
}

.project-container p {
  height: 50px;
  width: 100%;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
